.burger-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	padding: 0;
	background-color: var(--color-gray-08);
	border: var(--border);
	border-radius: 4px;

	@include hover {
		background-color: var(--color-purple-60);
		border-color: var(--color-purple-60);
	}
}

.burger-button.is-active .burger-button__line {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.burger-button.is-active .burger-button__line--2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;  
}

.burger-button:not(.is-active) .burger-button__line--3 {
  stroke-dasharray: 30 207;
  stroke-dashoffset: -30;
}

.burger-button__line {
  fill: none;
  stroke: var(--color-white);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 60 207;
  transition:
    stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button__line--2 {
  stroke-dasharray: 60 60;  
}