.metrics {
	&__list {
		display: flex;
		flex-wrap: wrap;
		@include media(gap, 20px, 16px, 12px);
	}

	&__item {
		flex-grow: 1;

		display: flex;
		flex-direction: column-reverse;
		gap: 2px;
	
		@include media(border-radius, 12px, 10px, 8px);
		border: var(--border);
		background-color: var(--color-gray-10);

		@include media(padding-block, 16px, 14px, 16px);
		@include media(padding-inline, 24px, 20px, 16px);

		@include mobile {
			align-items: center;
		}
	}
	
	&__title {
		@include media(font-size, 18px, 16px, 14px);
		color: var(--color-gray-60);
		font-weight: 500;
	}

	&__description {
		@include media(font-size, 40px, 30px, 24px);
		font-weight: 600;
		color: var(--color-white);
	}
}